{{ partial "head.html" . }}

<div>
  <article class="hentry" role="article">
    {{ partial "article.html" . }}
    <footer>

      <div class='c2a'>
        <form
            action="https://buttondown.email/api/emails/embed-subscribe/nelhage"
            method="post"
            target="popupwindow"
            onsubmit="window.open('https://buttondown.email/nelhage', 'popupwindow')"
            class="embeddable-buttondown-form"
            >
          <p>
            <label for="bd-email">Subscribe to my newsletter (~1 post/week and blog updates):</label>
          </p>
          <p>
          <input type="email" name="email" placeholder="email@domain.com" id="bd-email"></input>
          <input type="hidden" value="1" name="embed"></input>
          <input type="submit" value="Subscribe"></input>
          </p>
          <p>
            <a href="https://buttondown.email" target="_blank">Powered by Buttondown.</a>
          </p>
        </form>
      </div>

    <p class="meta">
      {{ if .PrevInSection }}
        <a class="basic-alignment left" href="{{.PrevInSection.RelPermalink}}" title="Previous Post: {{.PrevInSection.LinkTitle}}">&laquo; {{.PrevInSection.LinkTitle}}</a>
      {{ end }}
      {{ if .NextInSection }}
        <a class="basic-alignment right" href="{{.NextInSection.RelPermalink}}" title="Next Post: {{.NextInSection.LinkTitle}}">{{.NextInSection.LinkTitle}} &raquo;</a>
      {{ end }}
    </p>
  </footer>
</article>
</div>

{{ partial "footer.html" .}}
