$font-default: "Marmelad", "Helvetica Neue", Arial, sans-serif;
$font-mono: "Courier", monospace;

$font-icon: FontAwesome;
$font-icon-path: "/font/fontawesome-webfont";

@font-face {
	font-family: 'FontAwesome';
	src: url('#{$font-icon-path}.eot');
	src: url('#{$font-icon-path}.eot?#iefix') format('embedded-opentype'),
		url('#{$font-icon-path}.woff') format('woff'),
		url('#{$font-icon-path}.ttf') format('truetype'),
		url('#{$font-icon-path}.svgz#FontAwesomeRegular') format('svg'),
		url('#{$font-icon-path}.svg#FontAwesomeRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}